name: Upload Java custom JRE

on:
    push:
        branches: [master]
        
jobs: 
    build:
        runs-on: windows-latest
        
        
        steps:
        - name: Checkout code
          uses: actions/checkout@v4
            
        - name: Install the JDK
          uses: actions/setup-java@v4
          with: 
            java-version: '21'
            distribution: 'temurin'
            architecture: x64
                
        - name: Check file system
          run: ls 
                    
        - name: Build jar packages with Maven
          run: mvn -B package --file pom.xml
          working-directory: .
        
        - name: Move all jars to the modules directory
          run: |
            move todolist.dao/target/todolist.dao-1.0-SNAPSHOT.jar modules/todolist.dao.jar
            move todolist.gui/target/todolist.gui-1.0-SNAPSHOT.jar modules/todolist.gui.jar
            move todolist.license/target/todolist.license-1.0-SNAPSHOT.jar modules/todolist.license.jar
            move todolist.models/target/todolist.models-1.0-SNAPSHOT.jar modules/todolist.models.jar
            move todolist.updater/target/todolist.updater-1.0-SNAPSHOT.jar modules/todolist.updater.jar
            move todolist.utils/target/todolist.utils-1.0-SNAPSHOT.jar modules/todolist.utils.jar  
          
        - name: Build custom JRE
          run: |
            mkdir custom-jre 
            jlink --module-path ./modules --add-modules todolist.dao,todolist.gui,todolist.license,todolist.models,todolist.updater,todolist.utils,org.postgresql.jdbc,jdk.crypto.ec --launcher todolistapp=todolist.gui --output ./custom-jre
          
        - run: ls ./custom-jre/  
          

            
